.App {
	text-align: center;
	min-height: 100vh;
	background-color: #282c34;
}

.App-content {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  font-size: calc(10px + 2vmin);
  align-content: stretch;
  background-color: #282c34;
  color: white;
  padding: 5vh 5vw;
}

.Bar {
	border-style: solid;
	border-color: white;
	border-width: 2px;
	padding: 0.2em;
	background-color: rgba(152, 251, 152, 0);
	color: orchid;
	font-weight: 600;
	flex: 0;
}

.Details {
	padding-left: 2%;
	padding-right: 2%;
	flex: 1;
}

.Section {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	align-content: flex-start;
	margin: 0;
	padding: 0;
	border: 0;
	flex: 1;
}

.header {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	color: white;
}

.help {
	width: 40vw;
	font-size: 50px;
}

.borders {
	border-style: solid;
	border-width: 2px;
	border-color: white;
}

h3 {
	width: 100%;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0.5em;
}